*{
    box-sizing: border-box;
}

body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    flex-wrap: wrap;
    text-align: center;
}

.btn{
    background-color: rgb(51, 153, 148);
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3 rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}

.btn:focus{
    outline: none;
}